---
to: src/components/<%= h.inflection.undasherize(name) %>/<%= h.inflection.undasherize(name) %>.tsx
---
<% const comp = h.inflection.undasherize(name) -%>
import * as React from "react";
import classNames from "classnames";

import * as styles from "./<%= comp %>.module.scss";

interface Props {
    style?: React.CSSProperties;
    className?: string;
}
<% if(locals.class) { -%>
interface State {
    myStateValue?: boolean;
}

const INITIAL_STATE: State = {
    myStateValue: true,
};

export class <%= comp %> extends React.PureComponent<Props, State> {
    public state = INITIAL_STATE;

    public render() {
        return (
            <div className={classNames(styles.component, this.props.className)} style={this.props.style}>
                {this.props.children}
            </div>
        );
    }
}
<% } else { %>
export const <%= comp %>: React.SFC<Props> = ({ children, style, className }) => (
    <div className={cx(styles.component, this.props.className)} style={style}>
        {children}
    </div>
);
<% } -%>
export default <%= comp %>;
